* {
    margin: 0;
    padding: 0;
  }
body {
   
    margin: 0 30px;
    
}
h1{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 55px;
    font-family: 'Montserrat';
    font-size: 32px;
    line-height: 1.2;
}
 .p1{

   
    margin-top: 55px;
    color: #45338d;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.2;
    text-align: left;
}
.bold{
    font-weight: bold;
}
.italic{
    font-style: italic;
}
.p2{

    margin-top: 40px;
    background: rgba(204, 60, 60, 0.32);
    color: #e2296c;
    padding: 15px 15px 20px 15px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    text-align: justify;
    margin-bottom: 40px;
}
.underline{
    text-decoration: underline;
}
.color{
    color: #fff;
}.figure {
    margin-bottom: 45px;
    position: relative;
}

 .img-1 {
  width: 100%; 
  
}

.p3 {
    width: 25%;
    position: absolute;
    top: 30px;
    left: 15px;
    font-style: italic;
    font-weight: 300;
    text-align: justify;
    font-size: 18px;
    line-height: 1.1;
}

.img-2 {
    
    width: 50%;
    border: 2px solid rgb(54, 181, 97);
    padding: 15px;
    margin-bottom: 200px;
} 